hfrmhrmhsr.onrender.com:80 {
    root /usr/src/trojan
    log /usr/src/caddy.log
    index index.html
}

hfrmhrmhsr.onrender.com:443 {
    root /usr/src/trojan
    log /usr/src/caddy.log
    index index.html
}
